.btn-choice, .btn-choice:hover {
  text-decoration: none;
  color: white;
}

#game-stage {
  position: relative;
  background-color: #EFDFA9;
  height: 60vh;
}

#bottom-row {
  position: absolute;
  bottom: 5%;
}