.btn-choice, .btn-choice:hover {
  text-decoration: none;
  color: white;
}

#game-stage {
  position: relative;
  background-color: #EFDFA9;
  height: 60vh;
}

#bottom-row {
  position: absolute;
  bottom: 5%;
}

#characterbackground {
  background: url("./scroll.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  font-family: 'Indie Flower', cursive;
}

#characterstats {
  background: url("./scrollforstats.png") center;
  background-repeat: no-repeat;
}