#stats-row {
  height: 70vh;
  padding: 2rem;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(44, 42, 42, 0.8);
  color: white;
}

#stats-row .col-4 {
  position: relative;
}