.App {
  text-align: center;
}

.nav-lg {
  height: calc(100vh - 60px);
}

.nav-sm {
  height: calc(100vh - 56px);
}

.bg-tan {
  background-color: #EFDFA9
}

.bg-scroll {
  background: url("../../pages/CharacterSelect/scroll.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}