body {
    background: url("https://static.gosunoob.com/img/1/2017/10/ac-origins-thick-skin-side-quest.jpg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-size: cover;
  }