#action-menu {
  position: absolute;
  top: 55%;
  bottom: 3%;
  right: 35%;
  height: 25%;
  width: 30%;
  z-index: -5;
}
#action-text {
  position: absolute;
  top: 90%;
  bottom: 3%;
  right: 25%;
  height: 25%;
  width: 50%;
  z-index: -5;
}
#hero-stats {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 20%;
  width: 25%;
}
#enemy-stats {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 20%;
  width: 25%;
}

#action-btns {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

#text-box {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
}
#text-box > .container {
  position: absolute;
  bottom: 0;
}

#battlebackground {
  /* background: url("../../img/dungeonbackground.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -10;
  font-family: 'Indie Flower', cursive;
}

#action-menu {
  margin-top: 30px;
}

h1, h2 {
  color: white;
}

#battle-enemy {
  position: absolute;
  top: 20%;
  right: 0.01%;
}

#battle-enemy img {
  margin-top: 40%;
  margin-left: 25%;
  height: 300px;
  width: 300px;
  transform: scaleX(-1);
}

#battle-hero {
  position: absolute;
  top: 45%;
  left: 2%;
}

#battle-hero img {
  margin-top: 50%;
  height: 200px;
  width: 200px;
}