.col-md {
    padding: 40px;
    width: 40px;
    margin-top: 80px;
    background: url("../../img/dungeonbackground.png"); 
    font-family: 'Indie Flower', cursive;
    color: white
}

h1{
    font-family: 'Indie Flower', cursive;   
    color: rgb(20, 19, 19);
}